/* ================COMMON STYLES================= */

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 100%;
    font-size: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* ===============HEADER STYLES================ */

.header-line {
    display: inline-block;
    width: 100%;
    background-color: #020000;
    text-align: justify;
}

.header-line__logo {
    display: inline-block;
    margin: 23px 40% 23px 150px;
}

.header-line__nav {
    display: inline-block;
    width: 430px;
}

.header-line-nav__links > a {
    font-size: 14px;
    font-weight: 600;
    padding: 4%;
    text-align: right;
    color: #ffffff;
    text-decoration: none;
}

/* ==================HEADER SECTION=============== */

.header__section {
    display: inline-block;
    width: 100%;
    height: 712px;
    background: url(../img/buildings.png) no-repeat center center;
}


/* Left header section */

.header--section__description {
    display: inline-block;
    width: 515px;
    height: 392px;
    margin-top: 109px;
    text-align: left;
}

.title__light {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-top: 63px;
    color: #ffffff;
}

.line__light {
    width: 64px;
    height: 2px;
    border: 0;
    background: #ffffff;
    margin: 30px 0;
}

.semi-title__light {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:  #ffffff;
    opacity: 0.8;
}

.download-button__light {
    margin-top: 44px;
    padding: 15px 31px;
    font: 15px 600;
    color: #ffffff;
    background: transparent;
    outline: none;
    cursor: pointer;
    border: 2px solid #ffffff;
}


/* Right header section */

.header--section__formbox {
    display: inline-block;
    width: 360px;
    height: 362px;
    position: relative;
    bottom: 30%;
    text-align: center;
    vertical-align: middle;
    border-radius: 5%;
}
