/* ================COMMON STYLES================= */

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 100%;
    font-size: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* ===============HEADER STYLES================ */

.header-line {
    display: inline-block;
    width: 100%;
    height: 71px;
    background-color: #020000;
    text-align: center;
}

.header-line__logo {
    display: inline-block;
    margin: 23px 45% 23px 0;
}

.header-line__nav {
    display: inline-block;
    width: 430px;
    padding-bottom: 27px;
}

.header-line-nav__links > a {
    font-size: 14px;
    font-weight: 600;
    padding: 4%;
    text-align: right;
    color: #ffffff;
    text-decoration: none;
}

/* ==================HEADER SECTION=============== */

.header__section {
    display: inline-block;
    width: 100%;
    height: 641px;
    background: url(../img/buildings.png) no-repeat center center;
    background-color: rgba (100, 100%, 100%, 0.5215686274509804);
}


/* Left header section (Download) */

.header--section__description {
    display: inline-block;
    width: 515px;
    height: 392px;
    margin-top: 109px;
    margin-right: 222px;
    text-align: left;
}

.title__light {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-top: 63px;
    color: #ffffff;
}

.line__light {
    width: 64px;
    height: 2px;
    border: 0;
    background: #ffffff;
    margin: 30px 0;
}

.semi-title__light {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:  #ffffff;
    opacity: 0.8;
}

.download-button__light {
    margin-top: 44px;
    padding: 15px 31px;
    font: 15px 600;
    color: #ffffff;
    background: transparent;
    outline: none;
    cursor: pointer;
    border: 2px solid #ffffff;
}


/* Right header section (Form) */

.header--section__formbox {
    display: inline-block;
    width: 360px;
    height: 362px;
    position: relative;
    top: -30%;
    left: -2%;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    border-radius: 5%;
}

.form_header {
    width: 360px;
    height: 54px;
    padding-top: 3%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #f5f5f5;
    border-radius: 5px 5px 0 0;
}

.form_header span {
    font-style: normal;
    color: #ff8c2c;
}

.form_input {
    width: 285px;
    height: 31px;
    margin-top: 38px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.3px solid #7e7c7c;
    padding-left: 14px;
    font-size: 14px;
}

.form_footer {
    width: 360px;
    height: 54px;
    margin-top: 49px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #f5f5f5;
    background-color: #ff9b51;
    border: transparent;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}

.form_footer:hover {
    background-color: #fa7007
}

.download-button__light:hover {
    background-color: #ff9b51;
}



